# <name>                <type> <mode> <uid> <gid> <major> <minor> <start> <inc> <count>
/etc/cron/cron.hourly   d      755    0     0     -       -       -       -     -
/etc/cron/cron.daily    d      755    0     0     -       -       -       -     -
/etc/cron/cron.weekly   d      755    0     0     -       -       -       -     -
/etc/cron/cron.monthly  d      755    0     0     -       -       -       -     -
/etc/bash_completion.d  d      755    0     0     -       -       -       -     -
